.fonts{
    font-family: 'Signika', sans-serif;
}
.somosTitles{
    margin-top: 7%;
}
.overlaySomosImage{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    padding-top: 5%;
}
.imageSomos{ 
    height: 26rem;
    background-image: url("/assets/images/building.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nuestroT{
    background-image: url("/assets/images/edificacion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
    
}

.pointer {cursor: pointer;}
.calidadDiv{
    height: 20rem;
    background-image: url("/assets/images/tubos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.contactoImg{
    height: 20rem;
    background-image: url("/assets/images/whiteTexture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.titleContacto{
    padding-top: 10%;
    font-size: 4rem;
}
.overlayImgSomos{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.521);
}
.expertosTitle{
    margin-top: 40%;
    text-shadow: 2px 2px #2f2d2d;
}
.right-footer{
    margin-top: 7%;
}

@media(min-width:992px){
    .contactoForm{
        margin-top: 3%;
    }
}
@media(max-width:991px){
    .calidadDiv{
        height: 23rem;
    }
    .expoCalidad{
        font-size: 19px !important;
    }
    .imgLogoFooter{
        margin-left: 20%;
        margin-bottom: -24%;
    }
    .nuestroTrabajoTitle{
        margin-top: 20%;
    }
    .titleContacto{
        padding-top: 30%;
    }
}